html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: radial-gradient(53.46% 82.05% at 26.61% 46.54%, #ffd972 0%, #fff9d6 100%);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
